:root {
    --header-height: 50px;
    --wave-top-height: 5px;
    --wave-top-margin: calc(40px + var(--wave-top-height));
    --content-padding: 20px;
    --min-width: 220px;
    --max-width: 500px;
    --bottom-btn-height: 7vh;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0 auto !important;
    padding: 0;
    min-height: 100%;
    height: 100vh;
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    background-color: #ffffff;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: inherit;
    min-width: inherit;
    height: calc(100% - var(--header-height));
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-width: inherit;
    min-width: inherit;
    height: calc(100% - var(--wave-top-margin)); /* margin-top(상단바 높이)을 뺀 height */
    margin-top: var(--wave-top-margin);
    padding: 0 var(--content-padding);
    flex-grow: 1;
    box-sizing: border-box;
}

header {
    height: var(--header-height);
    width: inherit;
    background-color: #FFD457;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    z-index: 1;
}

header a {
    width: 15%;
    margin-left: 2%;
}
.aayologo {
    width: 50%;
}

.wave-top, .wave-bottom {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
}
.wave-bottom {
    display: block;
    position: fixed;
    bottom: 0;
    height: 150px;
    background: #FFD457;
    clip-path: path('M 0 67 C 150 100 250 0 400 50 C 550 100 650 0 800 50 C 950 100 1050 0 1200 50 C 1350 100 1450 0 1600 50 C 1750 100 1850 0 2000 50 V 150 H 0 Z');
    z-index: 0;
}

.wave-top {
    margin-top: var(--wave-top-height);
    display: block;
    position: fixed;
    transform: rotate(180deg);
    top: 0;
    height: 120px;
    background: #FFD457;
    clip-path: path('M 0 67 C 150 100 250 0 400 50 C 550 100 650 0 800 50 C 950 100 1050 0 1200 50 C 1350 100 1450 0 1600 50 C 1750 100 1850 0 2000 50 V 150 H 0 Z');
}

header a {
    text-decoration: none;
    color: inherit;
}

.header-title {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 45px;
}

.hidden {
    display: none !important;
}

/* 최하단 버튼 css */
.bottomBtn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1000;
    width: 100%;
    max-width: var(--max-width);
    min-width: var(--min-width);
    height: var(--bottom-btn-height);
    background-color: #FFD457;
    color: #1e3932;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

/*  ===== 아래부터는 공유하기 버튼, 모달 관련 css  ===== */
.icon-container {
    width: 40px;
    height: 40px;
    background-color: #FFD700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* 고정 위치 설정 */
    position: fixed;
    bottom: 20px;  /* 하단에서 20px 떨어진 위치 */
    right: 20px;   /* 우측에서 20px 떨어진 위치 */
    
    /* 다른 요소들보다 위에 표시되도록 z-index 설정 */
    z-index: 1000;
    
    /* 선택적: 그림자 효과 추가 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.share-icon {
    width: 24px;
    height: 24px;
    color: #000000;
}
.share-modal {
    z-index: 1000;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 80%;
    position: fixed;
    top: 36%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 1000;
}
.share-modal h2 {
    margin: 0;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.share-modal .share-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}
.share-modal .share-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.share-modal .share-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555;
}
.share-modal .share-option img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}
.share-modal .share-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}
.share-modal .share-link input {
    border: none;
    background: transparent;
    margin-right: 10px;
    width: 100%;
}
.share-modal .share-link button {
    background: none;
    border: none;
    cursor: pointer;
}
/* #open-modal-btn {
    position: fixed;
    bottom: 55px;
    right: 20px;
    cursor: pointer;
} */
