
.header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #FFD457; */
    justify-content: center;
    width: 100%;
    height: 30vh;
    /* margin-top: -12vh; */
    /* padding-left: 13vw; */
    position: relative;
    z-index: 1;
}
.btn > p {
    font-size: 12px;
    font-weight: normal;
}

.btn-wrap-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-wrap-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.room-name-and-logo {
    display: flex;
    margin-left: 10%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-content: flex-end; */
    /* text-align: left; */
    height: 30%;
    width: 375px;
}

.btn-wrap {
    display: flex;
}

.guide-text-wrap {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 6%;
}

.guide-text {
    display: block;
    position: fixed;
    margin: 0;
    font-weight: lighter;
}

.room-detail-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80%;
    flex-direction: column;
    /* position: relative; */
    z-index: 2;
}

.cafe-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
}

.cafe-logo {
    display: block;
    height: 64%;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0%;
    text-align: center;
}

.room_name {
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3%;
}

span {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#roomLink {
    font-size: 18px;
    align-items: center;
}

.btn-primary {
    background-color: #FFD54F; 
    color: #000;   
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80%;
    width: 100%;
    position: relative;
    z-index: 3;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 19.4%; */
    /* padding: 15px 0; */
    margin-top: 17px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.btn-yellow {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    color: #000;
    font-size: 21px;
    /* border: 2px solid #FFE8A4; */
    background-color: #FFE8A4;  
}

.btn-white {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    background-color: #fff;
    color: #000;
    font-size: 21px;
    /* /* border: 2px solid #FFD54F;  */
}

.wave-bottom {
    display: none;
}
