.room-detail-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.detail-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}

.guide-text-wrap {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.guide-text {
    display: block;
    margin: 0;
    font-weight: lighter;
    text-align: center;
}

.room-name-and-logo {
    height: 60%; 
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cafe-logo {
    display: block;
    height: 100%;
    width: 10%;
}


.btn > p {
    font-size: 12px;
    font-weight: normal;
}

.btn-wrap-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-wrap-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.btn-wrap {
    display: flex;
}

/* BOTTOM */
.detail-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    text-align: center;
}

.room_name {
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3%;
}

span {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#roomLink {
    font-size: 18px;
    align-items: center;
}

.btn-primary {
    background-color: #FFD54F; 
    color: #000;   
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 3;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 19.4%; */
    /* padding: 15px 0; */
    margin-top: 17px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.btn-yellow {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    color: #000;
    font-size: 21px;
    /* border: 2px solid #FFE8A4; */
    background-color: #FFE8A4;  
}

.btn-white {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    background-color: #fff;
    color: #000;
    font-size: 21px;
    /* /* border: 2px solid #FFD54F;  */
}

.wave-bottom {
    display: none;
}