{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-adsense-account" content="ca-pub-8246848076321652">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  
  <title>아아요!{% block title %}{% endblock %}</title>
  
</head>
<body>

  <header>
    <a href="{% url 'room' %}">
      <img class='aayologo' src="{% static 'images/aayo_logo_yellow.png' %}">
    </a>
  </header>
  <div class="wave-top"></div>
  {% block wave-bottom %}{% endblock %}

  <main>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

<div id="modal-overlay" class="modal-overlay hidden"></div>
<!-- 링크 공유 modal -->
<!-- 기본 class: hidden -->
<div id="share-modal" class="share-modal hidden">
    <span class="share-close">&times;</span>
    <h2>메뉴를 고를 사람을 초대합니다.</h2>

    <!-- 추후 확장 예정 기능 -->
    <div class="share-options">
        <div id="kakaoShareBtn" class="share-option">
            <img src="{% static 'images/kakao.png' %}" alt="Kakao">
            <span>카카오톡</span>
        </div>
        <div id="copyLinkBtn" class="share-option">
            <img src="{% static 'images/copy.svg' %}" alt="Copy" width="10px" height="10px"> 
            <span>링크 복사</span>
        </div>
    </div>

    <div class="share-link">
        <input id="roomLink" type="text" value="{% if room.unique_id %}https://aayo.kr{% url 'room_menu' room.unique_id %}{% else %}{% endif %}" readonly>
        <!-- <button id="copyLinkBtn"><img src="{% static 'images/copy.svg' %}" alt="Copy" width="20" height="20"></button> -->
    </div>
</div>

    {% block css %}{% endblock %}

    <!-- base.html 부분 코드 -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>