{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아아요! - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/room_menu.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header>
    <h1>☕ 아아요! ☕</h1>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <!-- 필요한 경우 푸터 내용 추가 -->
  </footer>

  {% block scripts %}{% endblock %}
</body>
</html>