{% extends "base.html" %}
{% load static %}

{% block wave-bottom %}<div class="wave-bottom"></div>{% endblock %}
{% block content %}
<div id="start-container">
    <h1>A A</br>Y<img src="{% static 'images/coffeebean.png' %}" alt="커피콩이미지" style="
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: -10px;">
    </h1>
    <p style="text-align: center;">간편한 단체 커피 주문을 위한 <br> 카페 메뉴 취합 서비스, 아아요</p>
    <button id="start-button" style="color: black; text-decoration: none;">10초만에 메뉴 모으기</button>
    <!-- ios 환경에서 파란색 뜨는 버그 -> font-color 명시적으로 주기 -->
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('#start-button').click(function(){
            $.ajax({
                url: "{% url 'room' %}",
                type: 'GET',
                success: function(response) {
                    window.location.href = "{% url 'room' %}";
                }
            });
        });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
