{% extends "base.html" %}
{% load static %}

{% block wave-bottom %}<div class="wave-bottom"></div>{% endblock %}
{% block content %}
<div id="start-container">
    <h1>A A</br>Y<img src="{% static 'images/coffeebean.png' %}" alt="커피콩이미지" style="
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: -10px;">
    </h1>
    <p style="text-align: center;">쉽고 빠른 카페 메뉴 취합, 아아요!</p>
    <button id="start-button" style="color: black; text-decoration: none;">시작하기</button>
    <!-- ios 환경에서 파란색 뜨는 버그 -> font-color 명시적으로 주기 -->
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('#start-button').click(function(){
            $.ajax({
                url: "{% url 'room' %}",
                type: 'GET',
                success: function(response) {
                    window.location.href = "{% url 'room' %}";
                }
            });
        });
    });
</script>
{% endblock %}

{% block css %}
<style>

    .container {
        text-align: center;
        flex: 1;
    }
    header {
        display: none !important;
    }
    #start-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh; /* 화면 전체 높이 */
    }
    h1 {
        margin-bottom: 10px;
        font-weight: 900;
        font-family: 'Roboto';
        text-align: right;
        font-size: 55px;
        color: black;
    }
    p {
        font-family: 'Roboto';
        margin: 10px 0px;
        font-size: 15px;
        color: #666;
    }
    .button-container {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    #start-button {
        font-family: 'Roboto';
        border: 1px solid #676767;
        padding: 8px 20px;
        font-size: 15px;
        font-style: black;
        background-color: #FFD457;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 20px;
        /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    #start-button:hover {
        background-color: #e6b800;

    }
    .wave-top {
        display: none !important;
    }
    @media (max-width: 600px) {
        h1 {
            font-weight: 900;
            font-family: 'Roboto';
            margin-bottom: 5px;
            font-size: 60px;
        }
        p, .start-button {
            font-size: 16px;
        }
    }
</style>
{% endblock %}
