{% extends "base.html" %}

{% block content %}
<div class="container">
    <form method="post">
      {% csrf_token %}
        <div class="form-group">
            <label for="name">방 이름을 입력하세요!</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="id">아이디(이름)을 입력하세요</label>
            <input type="text" id="id" name="id" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호를 입력하세요(선택사항)</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="cafe">카페를 선택하세요</label>
            <select id="cafe" name="cafe" required>
                <option value="">-- 선택 --</option>
                <option value="스타벅스">스타벅스</option>
                <option value="빽다방">빽다방</option>
                <option value="이디야">이디야</option>
                <option value="메가">메가</option>
            </select>
        </div>
        <button type="submit">방 생성하기</button>
    </form>
</div>
{% endblock %}