{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="room-container-wrap">
    <div class="room-container">
        {% if not guest_name %}
        <div class="login-container">
            <div class="cafe-logo-container">
            {% with logo_file=cafe.name_eng|add:".png"|lower %}
                <img src="{% static 'images/'|add:logo_file %}" alt="{{ room.cafe }} 로고" class="login-cafe-logo">
            {% endwith %}
            </div>
            <div class="guestNameForm-container">
                <form id="guestNameForm">
                    {% csrf_token %}
                    <p class="login-guide login-guide-bold">{{ cafe.name }}에서 메뉴를 선택합니다</p>
                    <p class="login-guide">다른 사람과 구분되는 주문자명을 입력하세요.</p>
                    <input type="text" class="guestNameForm-input" name="guest_name" required placeholder="이름(또는 별명)을 입력하세요">    
                    <!-- <input type="password" class="guestNameForm" name="password" placeholder="비밀번호를 입력하세요"> -->
                    <button id="goToOrderBtn" type="submit" class="bottomBtn">메뉴 주문하러 가기</button>
                </form>
                <a href="{% url 'room_menu' room.unique_id %}" id="roomLink" style="display: none;">{{ share_link }}</a>
                <!-- 링크 버튼 작동 위해 방 링크 가져와서 display: none 설정 -->
            </div>
        </div>
        {% else %}
        <div class="context-container">
                <p class="centered-text">{{ guest_name }}님이 선택한 메뉴:
                    <span id="selectedMenuNames">메뉴를 선택해주세요.</span>
                    <!-- 기존에 선택된 메뉴에 대한 id, options 정보 추가 -->
                    <span id="selectedMenuIds" style="display: none;">{{ selected_menu_ids|json_script:"selectedMenuIds" }}</span>
                    <span id="selectedMenuOptions" style="display: none;">{{ selected_menu_options|json_script:"selectedMenuOptions" }}</span>
                </p>
                <!-- 현재 선택된 메뉴 이름을 가져와서 상단에 보여주게 하도록 만들겠다﹗ -->
                <div class="menuSearchContainer">
                    <input type="text" id="menuSearch" placeholder="메뉴 검색...">
                </div>
    
                <a href="{% url 'room_menu' room.unique_id %}" id="roomLink" style="display: none;">{{ share_link }}</a>
                <!-- 링크 버튼 작동 위해 방 링크 가져와서 display: none 설정 -->
        </div>

        <div class="category-container">
            <button onclick="filterMenu('전체')" class="category-btn active">전체</button>
            {% for category in categories %}
            <button onclick="filterMenu('{{ category }}')" class="category-btn">{{ category }}</button>
            {% endfor %}
        </div>

        <div class="scrollable-content">
            <div id="menuListContainer" class="menu-grid">
                {% for menu in menu_items %}
                <div class="menu-item itembox {% if menu.id in selected_menu_ids %} selected{% endif %}"
                     data-menu-id="{{ menu.id }}"
                     data-menu-category="{{ menu.category }}"
                     data-menu-note="{{ menu.note }}">
                     <!-- data-temperature="{{ menu.temperature }}"
                     data-size="{{ menu.size }}"
                     data-ice="{{ menu.ice }}" -->
                    {% if menu.image_url %}
                        <img src="{{ menu.image_url }}" alt="{{ menu.name }}" class="menu-image">
                    {% endif %}
                    <p class="menu-name">{{ menu.name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% if guest_name %}
<form id="menuForm">
    {% csrf_token %}
    <button type="submit" id="confirmButton" disabled class="bottomBtn">주문 확정하기</button>
</form>
{% endif %}

<!-- Modal -->
<div class="modal" id="menuDetailModal" style="display: none">
    <wrap class="modal-wrap">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="image-container">
                <img id="modalMenuImage" src="" alt="" class="menu-image">
            </div>
            <div class="menu-label-container">
                <p id="menuCategory">카테고리</p>
                <h2 id="menuDetailModalLabel"></h2>
                <p id="menuNote">기타 설명...</p>
            </div>
            <div class="temp-btn-container">
                <div class="btn-group-temp">
                    <button type="button" class="btn-temp" id="hotButton">🔥 HOT</button>
                    <button type="button" class="btn-temp active" id="iceButton">🧊 ICE</button>
                </div>
            </div>
            
            <div class="menu-customization">
                <hr class="modal-hr">
                <span id="modal-customization-title">커스터마이징 (선택)</span>
                <div class="customization-form custom-size">
                    <span class="customization_label">사이즈</span>
                    <div class="btn-group-size">
                        <button type="button" class="btn" id="regularButton">Regular</button>
                        <button type="button" class="btn" id="extraButton">Extra</button>
                    </div>
                </div>
                <div class="customization-form custom-ice">
                    <span class="customization_label">얼음 양</span>
                    <div class="btn-group-ice">
                        <button type="button" class="btn" id="bigIceButton">많이</button>
                        <button type="button" class="btn" id="regularIceButton">보통</button>
                        <button type="button" class="btn" id="lessIceButton">적게</button>
                    </div>
                </div>
                <div class="customization-form form-group-etc">
                    <textarea id="additionalInstructions" rows="2" placeholder="추가 주문 사항이 있다면 작성해주세요"></textarea>
                </div>
            </div>
            <button type="button" id="saveMenuItem" class="bottomBtn">메뉴 선택하기</button>
        </div>
    </wrap>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/room_menu.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}