{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="header-wrap">
    <div class="guide-text-wrap">
        <p class="guide-text">카페 메뉴를 간단하게 주문할 수 있어요! (임시 멘트)</p>
    </div>
    <div class="room-name-and-logo">
            {% with logo_file=cafe.name_eng|add:".png"|lower %}
        <img src="{% static 'images/'|add:logo_file %}" alt="{{ room.cafe }} 로고" class="cafe-logo">
            {% endwith %}
        <p class="room_name">{{ room.name }}</p>
    </div>
</div>
<div class="room-detail-container">
    <div class="message-container">
        <a href="{% url 'room_menu' room.unique_id %}" id="roomLink" style="display: none;">{{ share_link }}</a>
            <!-- 링크 버튼 작동 위해 방 링크 가져와서 display: none 설정 -->
        <div class="btn-container">

            <div class="btn-wrap-top">
                <button type="button" id="open-modal-btn" class="btn btn-white sendlinkbtn" style="border: none;">링크 공유하기
                    <p>같이 주문할 사람에게<br>링크를 공유하세요!</p>
                </button>
                <a href="{% url 'room_menu' room.unique_id %}" class="btn btn-yellow gotoorderbtn">메뉴 주문하기
                    <p style="margin-bottom: 28px;">메뉴를 주문하러 가볼까요?</p>
                </a>
            </div>  
            
            <div class="btn-wrap-bottom">
                <a href="{% url 'room_orders' room.unique_id %}" class="btn btn-white viewallordersbtn">주문 모아보기
                    <p>현재까지 주문 현황을<br>알려드릴게요</p>
                </a>
                <a href="#" class="btn btn-white heart">🖤
                </a>
            </div>

        </div>
    </div>
</div>
<!-- 링크 공유 modal -->
<div id="share-modal" class="share-modal" style="display: none;">
    <span class="share-close">&times;</span>
    <h2>메뉴를 고를 사람을 초대합니다.</h2>

    <!-- 추후 확장 예정 기능 -->
    <div class="share-options">
        <div class="share-option">
            <img src="{% static 'images/kakao.png' %}" alt="Kakao">
            <span>카카오톡</span>
        </div>
        <div class="share-option">
            <img id="copyLinkBtn" src="{% static 'images/copy.svg' %}" alt="Copy" width="10px" height="10px"> 
            <span>링크 복사</span>
        </div>
        <!-- <div class="share-option">
            <img src="{% static 'images/email.png' %}" alt="Email">
            <span>E-mail</span>
        </div>
        <div class="share-option">
            <img src="{% static 'images/other.png' %}" alt="Other">
            <span>기타</span>
        </div> -->
    </div>

    <div class="share-link">
        <input id="roomLink" type="text" value="{% if room.unique_id %}{% url 'room_menu' room.unique_id %}{% else %}{% endif %}" readonly>
        <!-- <button id="copyLinkBtn"><img src="{% static 'images/copy.svg' %}" alt="Copy" width="20" height="20"></button> -->
    </div>
</div>
{% endblock %}

{% block css %}
<style>

.header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #FFD457; */
    justify-content: center;
    width: 375px;
    height: 30vh;
    /* margin-top: -12vh; */
    /* padding-left: 13vw; */
    position: relative;
    z-index: 1;
}
.btn > p {
    font-size: 12px;
    font-weight: normal;
}

.btn-wrap-top {
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-wrap-bottom {
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.room-name-and-logo {
    
    display: flex;
    margin-left: 10%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-content: flex-end; */
    /* text-align: left; */
    height: 30%;
    width: 375px;
}

.btn-wrap {
    display: flex;
}

.guide-text-wrap {
    width: 375px;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 6%;
}

.guide-text {
    display: block;
    position: fixed;
    margin: 0;
    font-weight: lighter;
}

.room-detail-container {
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80%;
    flex-direction: column;
    /* position: relative; */
    z-index: 2;
}

.cafe-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
}

.cafe-logo {
    display: block;
    height: 64%;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 0%;
    text-align: center;
}

.room_name {
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3%;
}

span {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#roomLink {
    font-size: 18px;
    align-items: center;
}

.btn-primary {
    background-color: #FFD54F; 
    color: #000;   
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80%;
    width: 375px;
    position: relative;
    z-index: 3;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 19.4%; */
    /* padding: 15px 0; */
    margin-top: 17px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.btn-yellow {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    color: #000;
    font-size: 21px;
    /* border: 2px solid #FFE8A4; */
    background-color: #FFE8A4;  
}

.btn-white {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    background-color: #fff;
    color: #000;
    font-size: 21px;
    /* /* border: 2px solid #FFD54F;  */
}

.wave-bottom {
    display: none;
}
</style>
{% endblock %}

{% block scripts %}
{% endblock %}

<!-- 이 부분이 문제였음: main.js가 base.html에서 이미 로드 되었기 때문에 여기서도 로드하면 중복 -->
<!-- {% comment%} 
{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% endcomment %} -->