{% extends "base.html" %}
{% load static %}

{% block title %} 주문 목록 - {{ room.name }}{% endblock %}

{% block content %}
<div class="order-container">
    <button id="refresh-orders" class="btn btn-primary mb-3">주문 목록 갱신</button>
    <h2 id="todaysmenu">TODAY's MENU</h2>
    <a href="{% url 'room_menu' room.unique_id %}" id="roomLink" style="display: none;">{{ share_link }}</a>
    <!-- 링크 버튼 작동 위해 방 링크 가져와서 display: none 설정 -->
    <!-- 간단한 주문 요약 부분 -->
    <div class="summary">
        {% if orders_details %}
            {% for order in orders_details %}
                <div class="order-card">
                    <div class="order-menu-img">
                        <img src="{{ order.menu_item.image_url }}" alt="img">
                    </div>
                    <div class="order-menu-info">
                        <p>{{ order.menu_item.name }}</p> <!-- 메뉴 이름 표시 -->
                        <p class="order-menu-details">
                            {{ order.options.temperature }} / {{ order.options.size }} / {{ order.options.ice }} / {{ order.options.note }} <!-- 옵션 표시 -->
                        </p>
                        <p class="guest-names">🙋🏻 {{ order.guest_name }}</p> <!-- 게스트 이름 표시 -->
                    </div>
                    <div class="order-menu-count">
                        <span class="menu-count">1</span>
                    </div>
                    <div class="order-delete">
                        <button class="delete-btn">🗑️</button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>아직 주문이 없습니다.</p>
        {% endif %}
    </div>
</div>
<!-- <a href="{% url 'room_menu' room.unique_id %}" class="hidden">메뉴 선택으로 돌아가기</a> -->
<button id="resetOrderBtn" class="bottomBtn">현재 주문 초기화</button>
<div class="open-modal-btn-wrap"><a id="open-modal-btn" class="sendlinkbtn"><p class="sendlinktext">앗! 놓치신 분이 계신가요?</p></a></div>

{% endblock %}

{% block scripts %}
<script>
document.getElementById('resetOrderBtn').addEventListener('click', function() {
    fetch('', {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert(data.message);
            window.location.href = "{% url 'room_menu' room.unique_id %}";
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('오류가 발생했습니다.');
    });
});

document.getElementById('refresh-orders').addEventListener('click', function() {
        location.reload();
    });
</script>
{% endblock %}

{% block css %}
<style>

    span {
    font-size: 18px;
    font-weight: bold;
    color: black;
    }

    #roomLink {
        font-size: 18px;
        align-items: center;
    }

    .sendlinktext {
        color: #3c3c3c;
        font-size: 14px;
        text-decoration: underline;
        margin: 0;
        padding: 24px;
    }

    .open-modal-btn-wrap {
        display: flex;
        justify-content: center;
    }
    .order-container {
        max-width: 800px;
        margin: 0px auto 0 auto;
        height: 85%;
    }
    
    h2#todaysmenu{
        margin: 0;
        padding: 0;
    }

    .summary{
        scrollbar-width: none;
        height: 90%;
        margin-top: 10px;
        margin-bottom: 6vh;
    }
    .order-card {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 85vw;
    }
    
    /* 이미지 파트 */
    .order-menu-img {
        flex: 2;
    }
    .order-card img {
        width: 100%;
        height: auto;
        border-radius: 6px;
    }

    /* 주문 내용 파트 */
    .order-menu-info {
        flex: 6;
        padding-left: 10px;
    }
    .order-card .order-menu-info .guest-names {
        color: #007bff;
        margin-top: 5px;
    }
    .order-card .order-menu-info .order-menu-details {
        font-size: 14px;
        color: #888;
    }
    .order-card .order-menu-info .order-menu-count {
        font-size: 16px;
        font-weight: bold;
    }

    /* 메뉴 카운트 파트 */
    .order-menu-count{
        flex: 1;
        padding-left: 10px;
        font-size: 20px;
        font-weight: 800;
    }

    /* 삭제버튼 파트 */
    .order-delete{
        flex: 1;
        padding-left: 10px;
    }

    .order-card .order-delete .delete-btn {
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        color: #dc3545;
    }
    
    .order-card .order-menu-info p {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
    
    #todaysmenu {
        font-weight: bold;
        text-align: center;
    }

    .wave-bottom {
        display: none;
    }

    .btn-primary {
        background-color: #FFD457;
        border-color: #FFD457;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        color: #1e3932;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .btn-primary:hover {
        background-color: #E6BE3F;
    }
    .mb-3 {
        margin-bottom: 1rem;
    }
</style>
{% endblock %}