{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아아요</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <button id="start-button">시작하기</button>

    <script>
        $(document).ready(function(){
            $('#start-button').click(function(){
                $.ajax({
                    url: "{% url 'main' %}",
                    type: 'GET',
                    success: function(response) {
                        window.location.href = "{% url 'main' %}";
                    }
                });
            });
        });
    </script>
</body>
</html>
{% endblock %}