{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>{{ room.name }}</h2>
    <p>카페: {{ room.cafe }}</p>
    <p>생성자: {{ room.creator }}</p>
    <p>생성 시간: {{ room.created_at }}</p>
    
    {% if error %}
    <script>
        alert("{{ error }}");
    </script>
    {% endif %}
    
    <form id="enterRoomForm" method="post" action="{% url 'enter_room' room.unique_id %}">
        {% csrf_token %}
        {{ form.guest_name.errors }}
        <input type="text" name="guest_name" placeholder="이름을 입력하세요" required>
        {% if room.password %}
            {{ form.room_password.errors }}
            <input type="password" name="room_password" placeholder="방 비밀번호를 입력하세요" required>
        {% endif %}
        <button type="submit">방 입장하기</button>
    </form>
</div>
{% endblock %}